{erl_opts, [debug_info, {parse_transform, lager_transform}, {verbosity, trace}]}.
{deps, [
        {eleveldb, {git, "https://github.com/basho/eleveldb.git", {branch, "master"}}},
        {procket, {git, "https://github.com/msantos/procket.git", {branch, "master"}}}
        %{eleveldb, {git, "https://github.com/basho/eleveldb.git", {tag, "2.1.0.0"}}}
    ]
}.

{overrides,
 [{override, eleveldb,
   [
    {pre_hooks, [{compile, "c_src/build_deps.sh get-deps"},
                 {compile, "c_src/build_deps.sh"}]},

    {post_hooks, [{clean, "c_src/build_deps.sh clean"}
                  ]},

    {plugins, [
               {pc, {git, "git://github.com/tsloughter/port_compiler.git", {branch, "master"}}}
              ]},

    {provider_hooks, [
                      {post, [
                              {compile, {pc, compile}},
                              {clean, {pc, clean}}
                             ]
                      }]
    }
   ]}
 ]}. 
