{erl_opts, [debug_info, {parse_transform, lager_transform},   {verbosity, trace}]}.
{deps, [
        %{sync, {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
        {lager, {git, "git://github.com/basho/lager.git", {tag, "2.1.1"}}},
        {poolboy, {git, "git://github.com/devinus/poolboy.git", {branch, "master"}}},
        {mochiweb, {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.12.2"}}},
        {eleveldb, {git, "https://github.com/basho/eleveldb.git", {branch, "master"}}},
        {procket, {git, "https://github.com/msantos/procket.git", {branch, "master"}}},
        {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.1"}}}
]}.

{relx, [{release, {'grapherl', "0.2.1"},
         [grapherl,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, false},
        {include_erts, true},

        {extended_start_script, true}]
}.


{overrides,
 [{override, eleveldb,
   [{pre_hooks, [{compile, "c_src/build_deps.sh get-deps"},
                 {compile, "c_src/build_deps.sh"}
                ]},

    {post_hooks, [{clean, "c_src/build_deps.sh clean"}
                  ]},

    %{plugins, [{pc, {git, "git://github.com/tsloughter/port_compiler.git", {branch, "master"}}}]},
    {plugins, [{pc, {git, "git://github.com/blt/port_compiler.git", {branch, "master"}}}]},
    %{plugins, [pc]},
    %{plugins, [{pc, "0.2.0" }]},
    {artifacts, ["priv/eleveldb.so"]},

    {provider_hooks, [{post, [{compile, {pc, compile}},
                              {clean, {pc, clean}}
                             ]}
                     ]}
   ]},
  {override, procket,
   [{plugins, [pc]},
    {provider_hooks, [{post, [{compile, {pc, compile}},
                              {clean, {pc, clean}}
                             ]}
                     ]}
   ]},
  {override, cuttlefish, [{post_hooks, []}]}

 ]}.





{profiles, [
    {prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]},
    {dev, [
        {deps, [{sync, {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}]},
        {relx, [
            {dev_mode, true},
            {deps, [{sync, {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}]},
            {include_erts, false}
            ]
        }]
    }
    ]
}.
