{erl_opts, [debug_info, {parse_transform, lager_transform},   {verbosity, trace}]}.
{deps, [
        {lager, {git, "git://github.com/basho/lager.git", {tag, "2.1.1"}}},
        {poolboy, {git, "git://github.com/devinus/poolboy.git", {branch, "master"}}},
        {mochiweb, {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.12.2"}}},
        {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.1"}}}
]}.

{relx, [{release, {'grapherl', "0.1.0"},
         [grapherl,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, false},
        {include_erts, true},

        {extended_start_script, true}]
}.

%% { overrides,
%%   [{override, eleveldb,
%%     [
%%      {pre_hooks, []}
%%     ]
%%    }
%%   ]
%% }.



{profiles, [
    {prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]},
    {dev, [
        {deps, [{sync, {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}]},
        {relx, [
            {dev_mode, true},
            {deps, [{sync, {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}]},
            {include_erts, false}
            ]
        }]
    }
    ]
}.
