{erl_opts, [debug_info]}.
{deps, [
        {lager, {git, "git://github.com/basho/lager.git", {branch, "master"}}}
]}.

{relx, [{release, {'grapherl', "0.1.0"},
         [grapherl,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

%% eleveldb still uses old rebar config, override it.
{overrides,
 [{override, eleveldb,
   [
    {pre_hooks, [{compile, "c_src/build_deps.sh get-deps"},
                 {compile, "c_src/build_deps.sh"}]},

    {post_hooks, [{clean, "c_src/build_deps.sh clean"}]},

    {plugins, [
               {pc, {git, "git://github.com/tsloughter/port_compiler.git", {branch, "master"}}}
              ]},

    {provider_hooks, [
                      {post, [
                              {compile, {pc, compile}},
                              {clean, {pc, clean}}
                             ]
                      }]
    }
   ]}
 ]}. 


{profiles, [
    {prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]},
    {dev, [
        {deps, [{sync, {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}]},
        {relx, [
            {dev_mode, true},
            {deps, [{sync, {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}]},
            {include_erts, false}
            ]
        }]
    }
    ]
}.
